$default-bg-color: rgb(136, 136, 136);
$primary-bg-color: #ffffff;
$secondary-bg-color: rgb(249, 121, 121);
$ternary-bg-color: rgb(95, 95, 241);
$card-bg-color: rgb(195, 195, 4);
$primary-text-color: #000000;
$secondary-text-color: #555555;

$max-mobile-view-port: 991px;
