@font-face {
  font-family: "Mont Book";
  src: url("../assets/fonts/Mont-Book.otf") format("truetype");
}

@font-face {
  font-family: "Mont Light";
  src: url("../assets/fonts/Mont-Light.otf") format("truetype");
}

@font-face {
  font-family: "Mont Regualar";
  src: url("../assets/fonts/Mont-Regular.otf") format("truetype");
}
